<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>
      <%= content_for?(:title) ? yield(:title) : "For the Record" %>
    </title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

  </head>

  <body>
    <% if @maintenance_mode %>
      <div style="background: #ffcc00; color: black; text-align: center; padding: 10px; font-weight: bold;">
        SITE NOTICE: We are performing scheduled maintenance at 11:00 PM EST.
      </div>
    <% end %>
    <header>
      <%= render "shared/navbar" %>
    </header>

    <main class="container my-4">
      <%= render "shared/breadcrumbs" %>
      <%= yield %>
    </main>

    <footer class="mt-5 mb-3 text-center text-muted">
      &copy; <%= Time.current.year %> My Store
    </footer>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const toggler = document.querySelector(".navbar-toggler");
        const menu = document.querySelector("#mainNavbar");

        if (toggler && menu) {
          toggler.addEventListener("click", function () {
            menu.classList.toggle("show");
          });
        }
      });
    </script>
  </body>
</html>
